In [3]:
# %pip install pandas

In [4]:
import pandas as pd

In [5]:


df = pd.read_csv('imdb_top_1000.csv')
df

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [6]:
df.shape #shape

(1000, 16)

In [7]:
df.info() #information of columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [8]:
df.isnull().sum() #to check null values

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [9]:
df.duplicated().sum()#to check duplicates

np.int64(0)

In [10]:
df.describe()#describing the numerical columns

       IMDB_Rating  Meta_score   No_of_Votes
count  1000.000000  843.000000  1.000000e+03
mean      7.949300   77.971530  2.736929e+05
std       0.275491   12.376099  3.273727e+05
min       7.600000   28.000000  2.508800e+04
25%       7.700000   70.000000  5.552625e+04
50%       7.900000   79.000000  1.385485e+05
75%       8.100000   87.000000  3.741612e+05
max       9.300000  100.000000  2.343110e+06

In [11]:
df.dropna(inplace=True)

In [12]:
df.isnull().sum()

Poster_Link      0
Series_Title     0
Released_Year    0
Certificate      0
Runtime          0
Genre            0
IMDB_Rating      0
Overview         0
Meta_score       0
Director         0
Star1            0
Star2            0
Star3            0
Star4            0
No_of_Votes      0
Gross            0
dtype: int64

In [13]:
df.columns

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [14]:
df.head(1)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"

In [15]:
df.drop(['Poster_Link',"Series_Title", "Overview", 'Director', 'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes' ], axis=1, inplace=True)

In [20]:
df['Released_Year'].value_counts()

Released_Year
2014    28
2004    27
2001    24
2009    23
2013    22
        ..
1930     1
1938     1
1933     1
PG       1
1953     1
Name: count, Length: 83, dtype: int64

In [21]:
# Assuming your DataFrame is named df
df = df[df['Released_Year'] != 'PG']

In [22]:
df['Released_Year'].value_counts()

Released_Year
2014    28
2004    27
2001    24
2009    23
2013    22
        ..
1949     1
1930     1
1938     1
1933     1
1953     1
Name: count, Length: 82, dtype: int64

In [23]:
# %pip install scikit-learn

In [24]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [25]:
df['Certificate'] = le.fit_transform(df['Certificate'])

C:\Users\ramvi\AppData\Local\Temp\ipykernel_3160\3080288281.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Certificate'] = le.fit_transform(df['Certificate'])

In [26]:
df['Genre'] = le.fit_transform(df['Genre'])

C:\Users\ramvi\AppData\Local\Temp\ipykernel_3160\1805449314.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Genre'] = le.fit_transform(df['Genre'])

In [27]:
df

,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Gross
0,1994,0,142,117,9.3,80.0,28341469
1,1972,0,175,105,9.2,100.0,134966411
2,2008,11,152,17,9.0,84.0,534858444
3,1974,0,202,105,9.0,90.0,57300000
4,1957,9,96,105,9.0,96.0,4360000
...,...,...,...,...,...,...,...
990,1971,4,157,158,7.6,77.0,696690
991,1970,3,144,38,7.6,50.0,1378435
992,1967,9,78,59,7.6,65.0,141843612
994,1964,9,87,99,7.6,96.0,13780024
997,1953,6,118,150,7.6,85.0,30500000

In [28]:
df.dtypes

Released_Year     object
Certificate        int64
Runtime           object
Genre              int64
IMDB_Rating      float64
Meta_score       float64
Gross              Int64
dtype: object

In [29]:
X  = df.drop(['Gross'], axis=1)
X

    Released_Year  Certificate Runtime  Genre  IMDB_Rating  Meta_score
0            1994            0     142    117          9.3        80.0
1            1972            0     175    105          9.2       100.0
2            2008           11     152     17          9.0        84.0
3            1974            0     202    105          9.0        90.0
4            1957            9      96    105          9.0        96.0
..            ...          ...     ...    ...          ...         ...
990          1971            4     157    158          7.6        77.0
991          1970            3     144     38          7.6        50.0
992          1967            9      78     59          7.6        65.0
994          1964            9      87     99          7.6        96.0
997          1953            6     118    150          7.6        85.0

[713 rows x 6 columns]

In [30]:
y = df['Gross']
y

0       28341469
1      134966411
2      534858444
3       57300000
4        4360000
         ...
990       696690
991      1378435
992    141843612
994     13780024
997     30500000
Name: Gross, Length: 713, dtype: Int64

In [31]:
X['Released_Year'].value_counts()

Released_Year
2014    28
2004    27
2001    24
2009    23
2013    22
        ..
1949     1
1930     1
1938     1
1933     1
1953     1
Name: count, Length: 82, dtype: int64

In [32]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.75, random_state=42)

In [33]:
from sklearn.linear_model import LinearRegression

In [34]:
lr = LinearRegression()

In [35]:
lr_model = lr.fit(X_train, y_train)

In [36]:
y_pred = lr_model.predict(X_test)
y_pred

array([ 8.28009553e+07,  7.98676666e+07,  1.09061417e+08,  9.41483320e+07,
        1.20024321e+08,  1.57041755e+08,  2.06726878e+07,  1.65851708e+08,
        6.14732702e+07,  2.85102647e+07,  1.54168616e+07, -3.03297241e+07,
        2.35346168e+07,  1.59781801e+08,  1.24990907e+08,  1.53945452e+08,
        1.55496210e+08,  8.60254334e+07,  5.82870897e+07,  1.08560293e+08,
        6.55796346e+07,  1.44095868e+08, -4.37133534e+07,  6.04098055e+07,
        9.28673519e+07,  2.57706438e+07,  8.17013803e+06,  1.27753423e+08,
        6.53668533e+07, -3.95580186e+07,  7.20706116e+07,  5.76689434e+07,
        5.07282938e+07,  6.86131878e+07,  1.07671545e+08,  2.87015756e+07,
        9.51970499e+07,  5.31657602e+07,  1.35680557e+08,  1.70332987e+08,
        7.33299173e+07,  5.20210632e+07,  8.86853274e+07,  5.04065987e+07,
        1.05741647e+08,  1.34435435e+08,  7.66070163e+07,  8.09093541e+07,
        6.17373805e+07,  8.72053696e+07,  7.93246923e+07,  1.48600149e+08,
        3.01631957e+07,  7.57258034e+07, -1.62535711e+07,  3.76302470e+07,
        2.85857784e+07,  8.24443722e+07,  6.69325246e+07,  4.37544241e+07,
        2.35913988e+08,  6.60886390e+07,  3.51503099e+07,  8.88925189e+07,
       -5.99110725e+06,  8.75141443e+07,  6.96167856e+07,  3.48714477e+07,
        3.91166752e+07,  7.64230991e+07,  3.86014095e+07,  4.98285090e+07,
        1.51742111e+08,  1.30699250e+08,  1.48203378e+08,  1.14837948e+08,
        4.42588913e+07,  8.53697582e+07,  3.75953216e+07,  1.26079071e+08,
        1.31959205e+08,  1.44269417e+07,  1.37474336e+08,  3.13441807e+07,
        1.05036112e+07,  5.16925029e+07,  1.09329701e+06,  6.99242687e+07,
        4.60515517e+07,  2.27809185e+08,  7.74982036e+07,  1.11486836e+08,
        7.69845080e+07,  1.54893125e+08,  2.94249948e+07,  2.30613614e+08,
        1.28784144e+08,  8.74819399e+07,  1.67666608e+08, -6.74396926e+06,
        4.69125462e+07,  1.04817361e+08,  1.50455044e+08, -9.79002605e+06,
        6.35864955e+07,  8.09750619e+07,  4.08232849e+07,  1.53136028e+07,
        1.41813029e+08,  4.43991754e+07,  9.57091160e+07,  8.49747964e+07,
        2.05574831e+08,  4.39559629e+07,  9.15153525e+07,  5.50760506e+07,
        3.44041873e+07,  4.76868604e+07,  8.60732894e+07,  9.70589202e+07,
        1.34702391e+08, -3.10981726e+07,  4.41224827e+07,  8.63824564e+07,
        1.15512940e+08, -1.23800708e+07,  7.41661123e+06,  1.85603630e+08,
        1.37973731e+08,  8.27392679e+07,  1.80677882e+08,  6.77882157e+07,
        1.00697896e+08,  2.28588888e+07,  1.01316385e+08,  6.97840001e+07,
        4.89966456e+07,  5.75916809e+07,  1.18355727e+07,  6.55823041e+07,
        3.65319398e+07,  8.28817670e+07,  1.06203325e+08,  9.11130572e+07,
        1.63418620e+08, -3.57429538e+07,  1.07267800e+07,  8.83021552e+07,
        1.05446501e+08,  1.07912044e+08,  2.02704487e+07,  6.05886337e+07,
       -2.51004594e+07,  4.00586008e+07,  9.40149192e+07,  5.45771542e+07,
        2.46643040e+08,  9.38884356e+07,  1.35455703e+08,  9.02679976e+06,
        6.66249012e+07,  4.16230147e+07,  5.79232160e+07,  7.12521481e+07,
        1.11800798e+08,  1.65702928e+07,  2.95622224e+07,  5.63023441e+07,
        5.60514403e+07,  1.40451840e+08,  7.65696371e+07,  7.72284092e+07,
        7.54592765e+07, -3.19858921e+07,  1.40281064e+07,  9.23087583e+07,
        7.63075816e+07,  2.97312979e+06,  1.38212425e+08])

In [37]:
%pip install joblib

Requirement already satisfied: joblib in c:\users\ramvi\appdata\local\programs\python\python313\lib\site-packages (1.4.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [38]:
import joblib
joblib.dump(lr_model,'lr_model.joblib')

['lr_model.joblib']

In [39]:
#eval metrics

from sklearn.metrics import mean_absolute_error, root_mean_squared_error, r2_score

In [40]:
mae = mean_absolute_error(y_test, y_pred)
mae

73227131.77344815

In [41]:
r2 = r2_score(y_test, y_pred)
r2

0.21154994531049154

In [42]:
%pip install flASK

Requirement already satisfied: flASK in c:\users\ramvi\appdata\local\programs\python\python313\lib\site-packages (3.1.0)
Requirement already satisfied: Werkzeug>=3.1 in c:\users\ramvi\appdata\local\programs\python\python313\lib\site-packages (from flASK) (3.1.3)
Requirement already satisfied: Jinja2>=3.1.2 in c:\users\ramvi\appdata\local\programs\python\python313\lib\site-packages (from flASK) (3.1.6)
Requirement already satisfied: itsdangerous>=2.2 in c:\users\ramvi\appdata\local\programs\python\python313\lib\site-packages (from flASK) (2.2.0)
Requirement already satisfied: click>=8.1.3 in c:\users\ramvi\appdata\local\programs\python\python313\lib\site-packages (from flASK) (8.1.8)
Requirement already satisfied: blinker>=1.9 in c:\users\ramvi\appdata\local\programs\python\python313\lib\site-packages (from flASK) (1.9.0)
Requirement already satisfied: colorama in c:\users\ramvi\appdata\roaming\python\python313\site-packages (from click>=8.1.3->flASK) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\ramvi\appdata\local\programs\python\python313\lib\site-packages (from Jinja2>=3.1.2->flASK) (3.0.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [43]:
from flask import Flask

In [44]:
import seaborn as np
print(np.__version__)

0.13.2